body{

  background: url('../img/fondo.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.marg{
	margin-top: 10px;
}
.index{
	background-color:rgb(216, 216, 216);
	padding-top: 60px;
	padding-bottom: 40px;
}